/** colores
#f7ad25
#e09fb9
#fdebe1
#f6b29a
#f07877
#fdcfcf
#e3bae3
#f2c5b5
    fuentes
    font-family: 'boiling';
    font-family: 'Everything';
**/
@font-face {
  font-family: "boiling";
  src: url("../fonts/boiling/Boiling-BlackDemo.ttf");
}
@font-face {
  font-family: "Everything";
  src: url("../fonts/everything_2/Everything.ttf");
}
.body {
  background-color: #fdebe1;
  width: 100%;
}

.bodyAlma {
  background-color: black;
  width: 100%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.navbar {
  border: 5px solid #f7ad25;
  color: #e09fb9;
  background-color: #f07877;
  font-family: "boiling";
  text-decoration: none;
  font-size: 1cm;
  list-style: none;
}

.dark {
  background-color: black;
}

h1, h2 {
  color: #f07877;
  font-family: "boiling";
  text-align: center;
  font-size: 3cm;
}

h2 {
  font-size: 1.5cm;
}

.h1Alma, .h2Alma {
  color: white;
}

.footer, .footer1 {
  text-align: center;
  font-family: "boiling";
  color: #f07877;
  font-size: 0.75cm;
}

.footer1 {
  color: white;
}

@media (max-width: 500px) {
  h1, h2 {
    font-size: 1cm;
  }
  h2 {
    font-size: 0.75cm;
  }
  .footer, .footer1 {
    font-size: 0.375cm;
  }
}
@media (min-width: 500px) and (max-width: 1000px) {
  h1, h2 {
    font-size: 2cm;
  }
  h2 {
    font-size: 1cm;
  }
  .footer, .footer1 {
    font-size: 0.5cm;
  }
}
/* imagen y texto de presentacion */
.sectionHome2 {
  width: 100%;
  display: grid;
  font-size: 1cm;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  grid-template-areas: "imagenInicio imagenInicio intro intro" "imagenInicio imagenInicio intro intro";
  justify-content: center;
  text-align: center;
  font-family: "Everything";
}

.imagenInicio {
  grid-area: imagenInicio;
}

.intro {
  grid-area: intro;
}

h5 {
  color: black;
}

.pIndex {
  color: black;
}

/* Responsive */
@media (max-width: 500px) {
  .sectionHome2 {
    font-size: 0.5cm;
    grid-template-areas: "imagenInicio imagenInicio" "intro intro";
  }
}
@media (max-width: 1000px) {
  .sectionHome2 {
    font-size: 0.75cm;
    grid-template-areas: "imagenInicio imagenInicio" "intro intro";
  }
}
.card1, .card3, .card2 {
  background-color: #e09fb9;
  border: 5px solid #f7ad25;
  text-align: center;
  font-family: "Everything";
  font-size: 0.75cm;
}
.card1 ul, .card3 ul, .card2 ul {
  font-size: 1cm;
}
.card1 a, .card3 a, .card2 a {
  font-size: 1.25cm;
}

/* Responsive */
@media (max-width: 500px) {
  .card1, .card2, .card3 {
    font-size: 0.45cm;
  }
  .card1 ul, .card2 ul, .card3 ul {
    font-size: 0.55cm;
  }
  .card1 a, .card2 a, .card3 a {
    font-size: 0.7cm;
  }
}
@media (min-width: 500px) and (max-width: 1000px) {
  .card1, .card2, .card3 {
    font-size: 0.55cm;
  }
  .card1 ul, .card2 ul, .card3 ul {
    font-size: 0.75cm;
  }
  .card1 a, .card2 a, .card3 a {
    font-size: 1cm;
  }
}
.imgaAlma {
  text-align: center;
}

.textoAlma .link {
  text-decoration: none;
}
.textoAlma p {
  width: 75%;
  margin-top: 1.5cm;
  text-align: center;
  font-size: 1cm;
  color: white;
}
.textoAlma .h4 {
  font-size: 1.5cm;
}

.formEscuela {
  width: 80%;
}

.formMentoria {
  width: 80%;
}

.descIndividual, .descGrupal {
  text-align: center;
  color: #f07877;
  font-family: "Everything";
  font-size: 1cm;
  width: 80%;
}