/** colores
#f7ad25
#e09fb9
#fdebe1
#f6b29a
#f07877
#fdcfcf
#e3bae3
#f2c5b5
    fuentes
    font-family: 'boiling';
    font-family: 'Everything';
**/

$font-principal: #f07877;
$fondo-principal: #fdebe1;


