
@font-face {
	font-family: 'boiling';
	src: url('../fonts/boiling/Boiling-BlackDemo.ttf');
}
@font-face {
	font-family: 'Everything';
	src: url('../fonts/everything_2/Everything.ttf');
}


.body{
    background-color: $fondo-principal;
    width: 100%;
}

.bodyAlma{
    background-color: black;
    width: 100%;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }