.navbar{
    border: 5px solid #f7ad25;
    color: #e09fb9;
    background-color:#f07877 ;
    font-family: 'boiling';
    text-decoration: none;
    font-size: 1cm;
    list-style: none;
}

.dark{
    background-color: black;
}

