.sectionHome2{
    width: 100%;
    display: grid;
    font-size: 1cm;
    margin-top: .5cm;
    margin-bottom: .5cm;
    grid-template-areas:
    "imagenInicio intro intro"
    "imagenInicio intro intro";
    justify-content: center;
    @include AlineacionFuente;

}

.imagenInicio{
    grid-area: imagenInicio;
}

.intro{
    grid-area: intro;
}

h5{
    color: black;
}

.pIndex{
    color: black;
}

@media (max-width: 500px){
    .sectionHome2{
        font-size: .5cm;
        grid-template-areas:
        "imagenInicio imagenInicio"
        "intro intro";
    }
}

@media (max-width: 1000px){
    .sectionHome2{
        font-size: .75cm;
        grid-template-areas:
        "imagenInicio imagenInicio"
        "intro intro";
    }
}